.form{
    width: 40%;
    margin:0 auto;
   
}

.form > input{
    padding: 10px 16px;
    width: 70%;
    border: solid 1px white;
    border-radius: 5px;
}
.form > button{
    padding: 12px 16px;
    border: none;
    background-color: green;
    border-radius: 5px;
    color: white;

}